form{
 
    font-size: large;
    display: flex;
}
div{
    margin-left: 30px;
    background-color: rgb(131, 160, 255);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
body{
    background-color: rgb(250, 168, 130);
    padding: 10px;
}
img{
    size: 200px;
}